<!DOCTYPE html>
<html>
    <%- include('./partials/head') %> 
    <body>
        <% if (usuario) { %>
            <%- include('./partials/headerLogueado') %> 
        <% } else{ %>
            <%- include('./partials/headerDeslogueado') %>
        <% } %>
    <main>
        <div class="detalle-post">
            <div class="detalle-post">
                <section class="detalle-container">
                    <article class="detalle-post">
                        <img src="<%= post.image %>" alt="Imagen del post" class="imagen-post">
                    </article>
                    <article class="comentarios-detalle">
                        <div class="info-post">
                            <div class="fotoDePerfil">
                            <img src="<%= post.Usuario.fotoDePerfil%>" alt="Foto del usuario">
                            </div>
                            <div class="usuarioPosteo">
                            <h3><a href="/users/detalleUsuario/id/<%= post.Usuario.id %>"><%= post.Usuario.nombreDeUsuario %> </a></h3> <!--el Usuario es el alias de la asosiacion en el modelo-->
                            </div>
                        </div>
                        <div class="lista-comentarios" >
                            <% post.Comentarios.forEach(element => { %>
                            <div class="comentario">
                                <div class="imagen">
                                    <img class='imagenesPerfiles' src="<%= element.Usuario.fotoDePerfil%> " alt="Foto de usuario"> 
                                </div>
                                <h6 class="detalleusuariopost"><a href="/users/detalleUsuario"><%=element.Usuario.ombre%></a></h6>
                                <a href="" uk-icon="icon:heart; ratio: 0.8" class="uk-width-1-4 uk-text-right icono-meGusta"><%=element.comentario%></a>
                            </div>
                            <% }) %>
                        </div>
                        <div class="agregar-comentario">
                            <form action="" class="agregar-comentario">
                              <input type="text" class="uk-input" placeholder="Agregar comentario"> 
                              <button class="boton-agregar-comentario" type="submit">Comentar</button>
                            </form>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>