<!DOCTYPE html>
<html lang="en">
    <html>
        <%- include('./partials/head') %>
        <body> 
            <% if (usuario) { %>
                <%- include('./partials/headerLogueado') %> 
            <% } else{ %>
                <%- include('./partials/headerDeslogueado') %>
            <% } %>
    <main>
        <ul>
            <% for (let i = 0; i < posteos.length; i++){ %>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="<%=posteos[i].Usuario.fotoDePerfil%>" alt="foto de perfil">
                            </div>
                            <h4><a class= "nombreDeUsuario" href="/users/detalleUsuario/id/<%=posteos[i].Usuario.id%>"><%=posteos[i].Usuario.nombreDeUsuario%></a></h4>
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <a href="/posts/detallePost/id/<%=posteos[i].id%>">
                                <img src="<%=posteos[i].image%>" alt="posteo">
                            </a>
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6"><a href="/users/detalleUsuario/id/<%=posteos[i].Usuario.id%>"><%=posteos[i].Usuario.nombreDeUsuario%></a></h5>
                                <p class="uk-width-5-6"><%=posteos[i].descrip%></p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <% for (let j = 0; j < posteos[i].Comentarios.length; j++){ %>
                                <li>
                                    <a href="/users/detalleUsuario/id/<%=posteos[i].Comentarios[j].usuario_id%>"><%=posteos[i].Comentarios[j].Usuario.nombreDeUsuario%></a>
                                    <p><%=posteos[i].Comentarios[j].comentario%></p>
                                </li>
                                <% } %>
                                <a href="">Ver más...</a>
                            </ul>
                        </div>
                    </article>
            <% } %>
        </ul>
            </section>
        </div>
    </div>
    </main>

    <%- include('./partials/footer') %> 

</body>
</html>