<!DOCTYPE html>
<html>
<%- include('./partials/head') %>

<body>
    <% if (usuario) { %>
    <%- include('./partials/headerLogueado') %>
    <% } else{ %>
    <%- include('./partials/headerDeslogueado') %>
    <% } %>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center uk-flex-column">
                <h1 class="subtitulo">Login</h1>
                <form class="userLogin" action="/users/login" method="POST">
                    <% if(locals.error != undefined){ %>
                    <p><%= error.message %> </p>
                    <% } %>
                    <div>
                        <label for="email">Email: </label>
                        <input type="email" placeholder="Email" name="email" id="email">
                    </div>
                    <div>
                        <label for="contrasena">Contraseña:</label>
                        <input type="password" placeholder="Contrasena" name="password" id="contrasena">
                    </div>
                    <div>
                        <label for="recordarme">Recordarme</label>
                        <input type="checkbox" name="recordarme">
                    </div>
                    <div>
                        <button type="submit">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>