<!DOCTYPE html>
<html lang="en">

    <%- include('./partials.head') %>
<body>
    <% if (usuario) { %>
        <%- include('./partials/headerLogueado') %> 
    <% } else{ %>
        <%- include('./partials/headerDeslogueado') %>
    <% } %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <h2>(Mostar resultados de busqueda)</h2>

            </div>
        </div>
    </main>

    <%- include('./partials.footer') %> 

    <!-- <form action="/proyectoProgramacion2/myapp/data/posteos.js/busqueda" method="get">
        <imput type= "text" class="text" name="busqueda"></imput>
        <button>Enviar</button>
    </form> -->
    <h1>Posteos</h1>
    <ul>
        <% for (let i = 0; i < posteos.lenght; i++) { %>
            <li>
               <a href="/posteos"><%= posteos[i].imagen%></a> 
                <%= posteos[i].descrip%>
                <a href="#2"><%= posteos[i].usuario_id%></a>

            </li>
         }
    </ul>

</body>

</html>